body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
select {
    margin: 15px;
    font-family: SanNormal;
}
article > textarea {
    margin: 5px;
    font-family: SanNormal;
}

select {
    width: 150px;
}
textarea {
    width: 80%;
    height: 2rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    resize: none;
    outline: none !important;
    font-family: SanLight;
    font-size: 0.87rem;
    color: black;
    padding-top: 5px;
    padding-left: 5px;
}
/*#questionInput {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#historyInput {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}*/
textarea:focus {
/*    border: 1px solid rgb(255, 255, 255);*/
/*    background-color: rgb(255, 255, 255);*/
    animation-name: textarea_click;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
textarea:not(focus) {
    animation-name: textarea_unclick;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
textarea::placeholder {
    font-family: SanNormal;
}
#addCard {
    margin-top: 16px;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    outline: none;
    border: none;
    
    width: 150px;
    height: 60px;
    padding: 0;
    margin: 3px;
    
    font-size: 25px;
    font-family: SanBold;
    
    color: rgb(80, 80, 80);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    box-shadow: none;

}
button .ripple {
    border-radius: 50%;
    background-color: rgba(180, 180, 180, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}
button:hover {
    animation-name: hover_change_color;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
button:not(hover) { 
    animation-name: nothover_change_color;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
#returnButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 44px;
    margin: 10px;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
@keyframes hover_change_color {
  from {background-color: rgb(255, 255, 255);
    box-shadow: none;}
  to {background-color: rgb(230, 230, 230);
    box-shadow: 0 5px 7px 0px rgba(50, 50, 50, 0.3);}
}
@keyframes nothover_change_color {
  from {background-color: rgb(230, 230, 230);
    box-shadow: 0 5px 7px 0px rgba(50, 50, 50, 0.3);}
  to {background-color: rgb(255, 255, 255);
    box-shadow: none;}
}
@keyframes textarea_click {
  from {background-color: rgb(230, 230, 230);}
  to {background-color: rgb(255, 255, 255);}
}
@keyframes textarea_unclick {
  from {background-color: rgb(255, 255, 255);}
  to {background-color: rgb(230, 230, 230);}
}
@font-face {
/*    default font*/
    font-family: "SanBold";
    src: url("../fonts/SourceHanSansK-Bold.otf");
}
@font-face {
/*    default font*/
    font-family: "SanMedium";
    src: url("../fonts/SourceHanSansK-Medium.otf");
}
@font-face {
/*    default font*/
    font-family: "SanNormal";
    src: url("../fonts/SourceHanSansK-Normal.otf");
}
@font-face {
/*    default font*/
    font-family: "SanLight";
    src: url("../fonts/SourceHanSansK-Light.otf");
}

@media (hover: none) and (pointer: coarse) {
    button {
        cursor: default;
    }
}